<section class="oe_container oe_dark lead">
    <h2 class="oe_slogan text-primary text-center">HR Employee Extra Features</h2>
    <h3 class="oe_slogan text-primary text-center">This Application helps to track record of employee and it's data.</h3>
  <div class="oe_row">
      <div class='oe_span12'>
          <div class="panel panel-primary" id="wkid0">
            <div class="panel-body">
                <div class="alert alert-info">
                    <i class="fa fa-arrow-circle-o-right"></i>
                    <b> Basic Features </b>
                </div>
                <ul class="list-unstyled">  
                    <li><i class="fa fa-check text-primary"></i>This application is allow you to add following details of employee :</li> 
                    &emsp;&emsp;<i class="fa fa-plus text-primary"></i>&nbsp; 1. Promotion
                    <br/>
                    &emsp;&emsp;<i class="fa fa-plus text-primary"></i>&nbsp; 2. Insurance
                    <br/>
                    &emsp;&emsp;<i class="fa fa-plus text-primary"></i>&nbsp; 3. Visa
                    <br/>
                    &emsp;&emsp;<i class="fa fa-plus text-primary"></i>&nbsp; 4. Award
                    <br/>
                    &emsp;&emsp;<i class="fa fa-plus text-primary"></i>&nbsp; 5. Training
                    <br/>
                    &emsp;&emsp;<i class="fa fa-plus text-primary"></i>&nbsp; 6. Request
                    <br/>
                    &emsp;&emsp;<i class="fa fa-plus text-primary"></i>&nbsp; 7. Complaints
                    <br/>
                    &emsp;&emsp;<i class="fa fa-plus text-primary"></i>&nbsp; 8. Family Member
                    <br/>
                    &emsp;&emsp;<i class="fa fa-plus text-primary"></i>&nbsp; 5. Injury
                    <br/>
                    &emsp;&emsp;<i class="fa fa-plus text-primary"></i>&nbsp; 6. Language
                    <br/>
                    &emsp;&emsp;<i class="fa fa-plus text-primary"></i>&nbsp; 7. Perfomance
                    <br/>
                    &emsp;&emsp;<i class="fa fa-plus text-primary"></i>&nbsp; 8. History(Track of Previous Organization)
                </ul>
                    
                </ul>
            </div>
          </div>
      </div>
  </div>
</section>
<section class="oe_container">
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane  active" id="configuration">
            <section class="oe_container oe_dark">
                <div class="oe_row">
                    <div class='oe_span12'>
                        <div class="panel panel-primary" id="1">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-list-ul"></i>
                                    <b>Look Below Screenshots:</b>
                                </div>
                                <div>
                                    <div class="oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="1.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-list-ul"></i>    
                                        <b> Above Image Is Cover All 8 Points in Employee's Form Record.</b>
                                    
                                    <br/>

                                    <div class="oe_row_img oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="2.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b> Above Image Is for Promotion & Employee History.</b>
                                    
                                    <br/>

                                    <div class="oe_row_img oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="3.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b> Above Image Is for Employee and Employee's Family's Insurance & Visa.</b>
                                    
                                    <br/>

                                </div>
                                <div>
                                    <div class="oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="4.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b> Above Image Is for Employee's Award & Training.</b>
                                    
                                    <br/>

                                    <div class="oe_row_img oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="5.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b> Above Image Is for Employee's Requests & Complaints.</b>
                                    
                                    <br/>

                                    <div class="oe_row_img oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="6.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b> Above Image Is for Hobbies,Habits, Disablity,Speciality, Dates, Facelities, Family Members & injuries and Language Known by Employee.</b>
                                    
                                    <br/>


                                </div>
                                <div>
                                    <div class="oe_row_img oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="8.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-list-ul"></i>    
                                        <b> Above Image Is Cover All Points in Seprate Menu.</b>
                                    
                                    <br/>


                                    <div class="oe_row_img oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="9.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b>Above Image is display view of Family Member of Employee.</b>
                                    
                                    <br/>

                                </div>
                                <div>
                                    <div class="oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="10.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b>Above Image is display view of Insurance of Employee and his/her family's Employee.</b>
                                    
                                    <br/>

                                    <div class="oe_row_img oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="11.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b>Above Image is display view of Visa of Employee and his/her family's Employee.</b>
                                    
                                    <br/>

                                    <div class="oe_row_img oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="12.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b>Above Image is display view of Employee's Training.</b>
                                    
                                    <br/>

                                </div>
                                <div>
                                    <div class="oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="13.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b>Above Image is display view of HR Training Configuration who given to employee.</b>
                                    
                                    <br/>

                                    <div class="oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="7.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b>Above Image is display view of Family Member of Employee.</b>
                                    
                                    <br/>

                                    <div class="oe_row_img oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="14.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b>Above Image is display view of Employee's Perfomance.</b>
                                    
                                    <br/>

                                    <div class="oe_row_img oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="15.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b>Above Image is display view of Request of Employee.</b>
                                    
                                    <br/>

                                </div>
                                <div>
                                    <div class="oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="16.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b>Above Image is display view of complaint of Employee.</b>
                                    
                                    <br/>

                                    <div class="oe_row_img oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="17.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b>Above Image is display view of Injury of Employee.</b>
                                    
                                    <br/>

                                    <div class="oe_row_img oe_centered oe_mt32">
                                        <img class="img-border img-responsive thumbnail" src="18.png">
                                    </div>

                                    <br/>
                                    
                                        <i class="fa fa-share"></i>    
                                        <b>Above Image is display view of Documents and Certificate of Employee.</b>
                                    
                                    <br/>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Complimentary Support
            <p>
            You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
  </section>
  
  <section class="oe_container lead">
      <div class="oe_row oe_spaced">
          <div class="oe_span12">
              <h2 class="text-center"><a> Help &amp; Support</a>
          </div>
          <div class="oe_slogan oe_spaced text-center">
            <p>
              Contact us at<br/>
    <i class="fa fa-2x fa fa-envelope"/>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@craftsync.com">
      <b>info@craftsync.com</b>
    </a>
     for any query.
      </p>
          </div>
      </div>

  </section>  

<section class="oe_container">
    <h2 class="oe_slogan"> <b>You may also like</b> </h2>
    <div id="demo" class="row carousel slide mt64 mb32" data-ride="carousel">
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/12.0/send_email_dynamically/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;"> <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="snd_mail.png" />
                            <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                            Send Email Dynamically</h4>
                        </div>
                    </a>
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/12.0/multi_product/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;"> <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="multi_prduct.png" />
                            <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                            Quick Add Multiple Products</h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/12.0/invoice_from_do/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;"> <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="inv_from_do.png" />
                            <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                           Invoice From Delivery Order</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/12.0/purchase_order_automation/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;"> <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="po_auto.png" />
                            <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                            Purchase Order Automation</h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/12.0/multiple_delivery_order_cancel/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;"> <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="multi_delivery_cancel.png" />
                            <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                            Cancel Multiple Delivery Orders</h4>
                        </div>
                    </a>
                </div>
                
            </div>
            
        </div>
            <!-- Left and right controls --><a class="carousel-control-prev" href="#demo" data-slide="prev" style="left:-25px;width: 35px;color: #000;"> <span class="carousel-control-prev-icon"><i class="fa fa-chevron-left" style="font-size:24px"></i></span> </a> <a class="carousel-control-next"
                href="#demo" data-slide="next" style="right:-25px;width: 35px;color: #000;"> <span class="carousel-control-next-icon"><i class="fa fa-chevron-right" style="font-size:24px"></i></span> </a> 
        </div>
</section>