<section class="oe_container">
    <div class="oe_spaced">
        <h2 class="oe_slogan">LIPS©</h2>
        <h3 class="oe_slogan">LedVantage Inventory System & Purchase Order Management Module</h3>

        <h4 class="oe_slogan"><a href="http://ledvantage.id/">Ledvantage</a> </h4>
        <div style="padding-left:66px;">
        <h4>Features:</h4>
        <ul>
            <li style="list-style:none !important;"><span style="color:green;"> &#8594;</span>&nbsp;&nbsp; Inventory System.</li>
            <li style="list-style:none !important;"><span style="color:green;"> &#8594;</span>&nbsp;&nbsp; Purchase Order Management</li>
        </ul>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_spaced">
        <div class="oe_picture">
            <h3 class="oe_slogan">Overview</h3>
            <p class="oe_mt32">
                LIPS© menyediakan module yang mampu mengintegrasikan semua proses pembelian barang (quotation, purchase order)  
                dan melakukan pencatatan barang tersebut hingga masuk ke warehouse (inventory sistem) hingga barang tersebut dijual 
                (Sales Management) dan system kami akan kami rancang khusus untuk kebutuhan client yaitu 
                system pembelian kembali (buy back). 
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Product Master</h4>
        <div class="oe_span12">
            <p class='oe_mt32'>
                &#x261B; Create a Product.<br>
            </p>
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="barcode_generate_product.gif">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Product Labels</h4>
        <div class="oe_span12">
            <p class='oe_mt32'>
                &#x261B; Variant name on label.<br>
                &#x261B; Variant sale price on label.<br>
            </p>
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="product_label.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help?</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
        <div>
            <a  class="btn btn-primary btn-lg mt8"
            style="color: #FFFFFF !important;border-radius: 0;" href="http://ledvantage.id/"><i
            class="fa fa-envelope"></i> Email </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
            href="http://ledvantage.id/contact/"><i
            class="fa fa-phone"></i> Contact Us </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
            href="http://ledvantage.id/"><i
            class="fa fa-check-square"></i> Request Customization </a>
        </div>
        <br>
        <img src="logo.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
    </div>
</section>
