<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png" style="width:200px;">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12" style="width:90%">
            <h2 class="oe_slogan">Odoo 11 Multiple Branch/Unit Setup for Company (Community)</h2>
            <div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.</font></div>
            <div>
	            <h3>
	                Features
	            </h3>
            </div>
            <table>
            	<tr>
            		<td>
            			<ul>
			                <li>Multiple Branch Management for single/multi company.</li>
			                <li>Enable Branch Concept from Users Configuration.</li>
			                <li>Multi Branch feature applied on Sale,Purchase,Account,Stock Module.</li>
			                <li>Customize Accounting Report with Branch Feature.</li>
			                <li>Apply Access rights and Record Rule as per allowed branch in users.</li>
			                <li>Customize Sale,Purchase,Account and Stock report for Branch Feature.</li>
            			</ul>
            		</td>
            	</tr>
            </table>
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Create Branch based on single or multi company concept.</li>
                </ul>
                <img style="max-width: 100%;" src="main_screenshot.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Assign branch to particular user.</li>
                </ul>
                <img style="max-width: 100%;" src="2_user_branch_assign.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">You can change branch in user preference form.</li>
                </ul>
                <img style="max-width: 100%;" src="3_user_preference_branch_set_chnage.png"/><br /><br />
               <ul>
                    <li style="color:#30054D;font-weight:bold;font-size:large;text-align:center">Sale Order Workflow with Branch</li>
                </ul>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">while create Sale order branch will come as per configured in warehouse.</li>
                </ul>
                <img style="max-width: 100%;" src="4_warehouse_branch_select.png"/><br /><br />
                <img style="max-width: 100%;" src="5_so_branch.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">While Confirm Sale order it will create Delivery order and branch set automatically based on sale order.</li>
                </ul>
                <img style="max-width: 100%;" src="6_so_do_branch_movement.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Customize Sales Order Report.</li>
                </ul>
                <img style="max-width: 100%;" src="7_so_report_with_branch.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Customize Sale Analysis with Branch Concept.</li>
                </ul>
                <img style="max-width: 100%;" src="8_so_analysis_with_branch.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">You can use the Branch group by filters in sales order.</li>
                </ul>
                <img style="max-width: 100%;" src="9_so_branch_group_by.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Customize Stock Picking Operations Report</li>
                </ul>
                <img style="max-width: 100%;" src="10_so_do_picking_op.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Customize Stock Delivery Slip Report</li>
                </ul>
                <img style="max-width: 100%;" src="11_so_do_delivery_report.png"/><br /><br />

                <ul>
                    <li style="color:#30054D;font-weight:bold;">While create invoice from sales order branch set automatically based on sale order.</li>
                </ul>
                <img style="max-width: 100%;" src="12_so_invoice_branch_movement.png"/><br /><br />

                <ul>
                    <li style="color:#30054D;font-weight:bold;font-size:large;text-align:center">Purchase Order Workflow with Branch</li>
                </ul>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">while create purchase order branch will set based on current login user branch.</li>
                </ul>
                <img style="max-width: 100%;" src="13_po_branch.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">while confirm purchase order it will create Receipt Picking and branch set automatically based on purchase order.</li>
                </ul>
                <img style="max-width: 100%;" src="14_po_receipt_movment.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Customize Purchase Order Quotation Report.</li>
                </ul>
                <img style="max-width: 100%;" src="15_po_quotation_report.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Customize Purchase Order Report.</li>
                </ul>
                <img style="max-width: 100%;" src="16_po_confirm_report.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">You can use group by Branch filter in purchase order.</li>
                </ul>
                <img style="max-width: 100%;" src="17_po_branch_gropu_by.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Customize Purchase Analysis with Branch Concept.</li>
                </ul>
                <img style="max-width: 100%;" src="18_po_analysis_view.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">While create vendor bill from purchase order branch set automatically based on purchase order.</li>
                </ul>
                <img style="max-width: 100%;" src="19_po_vendor_bill_branch.png"/><br /><br />

                <ul>
                    <li style="color:#30054D;font-weight:bold;font-size:large;text-align:center">Invoice Workflow with Branch</li>
                </ul>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">while create customer/supplier invoice branch will set based on current login user branch.</li>
                </ul>
                <img style="max-width: 100%;" src="20_cust_invoice_branch.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Customize invoice report.</li>
                </ul>
                <img style="max-width: 100%;" src="21_invoice_report.png"/><br /><br />

                <ul>
                    <li style="color:#30054D;font-weight:bold;">While Validate invoice it will create Journal entry and branch will set automatically based on invoice branch.</li>
                </ul>
                <img style="max-width: 100%;" src="22_invoice_validate_journal_entry.png"/><br /><br />

                <ul>
                    <li style="color:#30054D;font-weight:bold;">While make payment for the invoice it will create Journal entry and branch will set automatically based on invoice branch.</li>
                </ul>
                <img style="max-width: 100%;" src="23_invoice_journal_entry.png"/><br /><br />

                <ul>
                    <li style="color:#30054D;font-weight:bold;">While make payment for the invoice it will create customer/supplier payment and branch will set automatically based on invoice branch.</li>
                </ul>
                <img style="max-width: 100%;" src="24_invoice_payment_branch.png"/><br /><br />

                <ul>
                    <li style="color:#30054D;font-weight:bold;">Customize customer/supplier payments report.</li>
                </ul>
                <img style="max-width: 100%;" src="25_invoice_payment_report.png"/><br /><br />

                <ul>
                    <li style="color:#30054D;font-weight:bold;">You can use group by Branch filter in customer/supplier invoice.</li>
                </ul>
                <img style="max-width: 100%;" src="26_invoice_branch_wise_group_by.png"/><br /><br />

                <ul>
                    <li style="color:#30054D;font-weight:bold;">You can use group by Branch filter in customer/supplier payments.</li>
                </ul>
                <img style="max-width: 100%;" src="27_invoice_payment_group_by_branch.png"/><br /><br />

                <ul>
                    <li style="color:#30054D;font-weight:bold;">Make invoice analysis based on branch wise.</li>
                </ul>
                <img style="max-width: 100%;" src="28_invoice_analysis_branch_wise.png"/><br /><br />

                <ul>
                    <li style="color:#30054D;font-weight:bold;font-size:large;text-align:center">Accounting Report with Branch Flow</li>
                </ul>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Journal Audit Report.</li>
                </ul>
                <img style="max-width: 100%;" src="29_invoice_journal_audit_wizard.png"/><br /><br />
                <img style="max-width: 100%;" src="30_invoice_journal_audit_report.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Partner Ledger Report.</li>
                </ul>
                <img style="max-width: 100%;" src="31_invoice_partner_ledger_wizard.png"/><br /><br />
                <img style="max-width: 100%;" src="32_invoice_partner_ledger_report.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">General Ledger Report.</li>
                </ul>
                <img style="max-width: 100%;" src="33_invoice_general_ledger_wizard.png"/><br /><br />
                <img style="max-width: 100%;" src="34_invoice_general_ledger_report.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Trial Balance Report.</li>
                </ul>
                <img style="max-width: 100%;" src="35_invoice_trial_balance_wizard.png"/><br /><br />
                <img style="max-width: 100%;" src="36_invoice_trial_balance_report.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Balance Sheet Report.</li>
                </ul>
                <img style="max-width: 100%;" src="37_invoice_balance_sheet_wizard.png"/><br /><br />
                <img style="max-width: 100%;" src="38_invoice_balance_sheet_report.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Profit Loss Report.</li>
                </ul>
                <img style="max-width: 100%;" src="39_invoice_profit_loss_wizard.png"/><br /><br />
                <img style="max-width: 100%;" src="40_invoice_profit_loss_report.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Tax Report.</li>
                </ul>
                <img style="max-width: 100%;" src="41_invoice_tax_report_wizard.png"/><br /><br />
                <img style="max-width: 100%;" src="42_invoice_tax_report.png"/><br /><br />

            </div>
        </div>
    </div>
</section>
<section class="oe_container">
   <div class="oe_row" style="background-color: #008000;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
               <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
   <div class="oe_row" style="background-color: #004CFF;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
           <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
       </div>
           <span>
               <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
               <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
               <a href="mailto:info@acespritech.com" style="color: yellow !important;font-weight:bold;">Email us</a>
               | <a style="color: yellow !important;font-weight:bold;">Skype: acespritech</a>
           </span>
       </div>
   </div>
</section>
