<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <h2 class="oe_slogan" style="color:#2C0091;">Stock Adjustment Barcode Scanner</h2>
      <h3 class="oe_slogan">Do your time wasting in inventory operations by manual product selection ?<br/> 
        So here is the solutions this modules useful do quick operations of inventory using barcode scanner.<br/>
        You no need to select product and do one by one. scan it and you done!<br/>
        So be very quick in all operations of odoo and cheers!
	 </h3>        
      <h2 align="center">
	      <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" href="https://youtu.be/9x1gpgeKNaY" target="_blank">How it works? Click here to watch video</a>
      </h2>      
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <p class="oe_mt32">
		</p><div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
		  <i class="fa fa-hand-o-right"></i><b> Key features: </b>
			<ul class="list-unstyled">
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Easy to add products in stock operation by barcode scanner.
			  </li>			
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				No special configuration required, install it, use it.
			  </li>
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				This module save your important time.
			  </li>			
			</ul>
		</div>
      		
    </div>
  </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Set product with EAN-13 barcode.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="1.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">In stock inventory adjustment, On product barcode scanned , scanned product is added to "Inventory Details" line and "Real Quantity" set to 1.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="2.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">If Inventory of all products selected than all by default product added to line</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="3.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">On product barcode scanned, if scanned product exist than in "Inventory Details" line "Real Quantity" is increased by 1. If scanned product does not exist than product is added to "Inventory Details" line and "Real Quantity" set to 1.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="4.png">
        </div>
    </div>
</section>

<br/>

<section class="oe_container oe_dark"> 
	<div class="oe_row oe_spaced"> 
		<h2 class="oe_slogan" style="color:#2C0091;">Our Other Barcode Scanner Apps!</h2> 
   		    <div class="col-md-4" align="center"> 
	   		    <a href="https://www.odoo.com/apps/modules/11.0/sh_barcode_scanner/"> 
   			    <img src="https://www.odoo.com/apps/modules/11.0/sh_barcode_scanner/icon.png" alt="Barcode Scanner For Sales, Purchase, Invoices, Inventory" height="200"/>
			    </a>
			    <br/>
			    <strong>Barcode Scanner For Sales, Purchase, Invoices, Inventory</strong> 
   		    </div>
			<div class="col-md-4" align="center"> 
				<a href="https://www.odoo.com/apps/modules/11.0/sh_invoice_barcode_scanner/">
					<img src="https://www.odoo.com/apps/modules/11.0/sh_invoice_barcode_scanner/icon.png" alt="Invoices Barcode Scanner" height="200"/> 
    			</a>
    			<br/>
    			<strong>Invoices Barcode Scanner</strong>
   		    </div> 
   		    <div class="col-md-4" align="center"> 
   		    	<a href="https://www.odoo.com/apps/modules/11.0/sh_inventory_barcode_scanner/"> 
   		    	<img src="https://www.odoo.com/apps/modules/11.0/sh_inventory_barcode_scanner/icon.png" alt="Inventory Barcode Scanner" height="200"/>
				</a>
				<br/> 
				<strong>Inventory Barcode Scanner</strong> 
			</div>
	</div> 
	
	<div class="oe_row oe_spaced" align="center" style="display:flex;justify-content:center;"> 
   		    <div class="col-md-4" align="center" > 
   		    	<a href="https://www.odoo.com/apps/modules/11.0/sh_sale_barcode_scanner/"> 
   		    	<img src="https://www.odoo.com/apps/modules/11.0/sh_sale_barcode_scanner/icon.png" alt="Sale Order Product Barcode Scanner" height="200"/>
				</a>
				<br/> 
				<strong>Sale Order Product Barcode Scanner</strong> 
			</div>			
   		    <div class="col-md-4" align="center"> 
	   		    <a href="https://www.odoo.com/apps/modules/11.0/sh_purchase_barcode_scanner/"> 
   			    <img src="https://www.odoo.com/apps/modules/11.0/sh_purchase_barcode_scanner/icon.png" alt="Purchase Order Product Barcode Scanner" height="200"/>
			    </a>
			    <br/>
			    <strong>Purchase Order Product Barcode Scanner</strong> 
   		    </div>
   		    <div class="col-md-4" align="center"> 
	   		    <a href="https://www.odoo.com/apps/modules/11.0/sh_bom_barcode_scanner/"> 
   			    <img src="https://www.odoo.com/apps/modules/11.0/sh_bom_barcode_scanner/icon.png" alt="BOM Barcode Scanner" height="200"/>
			    </a>
			    <br/>
			    <strong>BOM Barcode Scanner</strong> 
   		    </div>   	
	</div> 
	
</section>

<br/>

<section class="oe_container oe_dark"> 
	<div class="oe_row oe_spaced"> 
		<h2 class="oe_slogan" style="color:#2C0091;">Want similar feature in other module?</h2> 
		<div class="col-md-12" align="center"> 
			<div class="text-center">	
				<a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:info@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info[at]softhealer.com">Contact Us</span>
				</a> 
			</div> 
		</div> 
	</div> 
</section>

<br/>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
	<h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
	<h3 class="oe_slogan">You will get free support and assistance in case of any issues</h3>
	<br/>
	<div class="text-center">	
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:info@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info[at]softhealer.com">Email</span></a>
	    <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com/support/help"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="Softhealer Helpdesk">Helpdesk Support</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="softhealer.com">More About Us</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="skype:info@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info_736589">Skype</span></a>
    </div>	
  </div>
</section>
