<section class="oe_container" style="background-image:url(https://www.cybrosys.com/images/odoo-index-header-banner.png);background-repeat:no-repeat;background-size:100%;padding: 4% 0% 2% 15%;background-position-y: -107px;">
         <div class="oe_row oe_spaced">
             <h2 class="oe_slogan" style="font-size: 35px;color: #fff;font-weight: 900;text-transform: uppercase;text-align: left;margin: 0;margin-bottom: 16px;">
                 Company Currency Total in Purchase
             </h2>
             <h3 class="oe_slogan" style="font-size: 25px;color: #fff;font-weight: 600;text-align: left;opacity: 1;margin: 0 !important;">
                 Shows Total Amount in Company Currency
             </h3>
             <h5 class="oe_slogan" style="text-align: left;background: #fff;width: 293px;padding: 10px;color: #080808 !important;opacity: 1 !important;font-weight: 600;font-size: 20px;">
                 <a style="color: #080808 !important;" href="https://www.cybrosys.com">Cybrosys Technologies</a>
             </h5>
             <a style="color: #080808 !important;" href="https://www.cybrosys.com" target="_blank">
                 <div style="width: 215px;margin-left: 57%;text-align: center;background: #ffffff;height: 215px;border-radius: 100%;display: flex;justify-content: center;align-items: center;box-shadow: 0 0 12px 4px #00000059;">
                         <img src="https://www.cybrosys.com/images/cybro-logo-oca.png" alt="cybrosys technologies" style="width: 180px;"/>            </div>
             </a>
         </div>
     </section>
     <section class="oe_container" style="padding: 3% 0% 3% 15%;">
         <div class="oe_row oe_spaced">
             <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
                 Overview
             </h2>
             <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
                 Do you have International Customers?
                 Are you getting confused among the vendor currency and your local company currency?
                 Here is the solution for you.
                 This app will give a view over the total amount of a single Purchase Order in your default company currency.
              </h3>
         </div>
          <div class="oe_row oe_spaced">
             <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 300;margin: 0px !important;">
                 Configuration
             </h2>
              <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
                 No additional configuration required
              </h3>
         </div>
     </section>
     
     <section class="oe_container" style="background-image:url(https://www.cybrosys.com/images/odoo-index-banner.png); background-repeat:no-repeat; background-size:cover;padding: 19% 0% 14% 15%;">
         <div class="oe_row oe_spaced">
             <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
                  Features
             </h2>
             <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
                 <img src="https://www.cybrosys.com/images/ico-tick.png">
                  Total purchase amount in company currency of the purchase quotation tree view.
              </h3>
              <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
                 <img src="https://www.cybrosys.com/images/ico-tick.png">
                  Total purchase amount in company currency of the purchase order tree view.
              </h3><h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
                 <img src="https://www.cybrosys.com/images/ico-tick.png">
                  Total purchase amount in company currency of the vendor bill tree view.
              </h3>
              <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
                 <img src="https://www.cybrosys.com/images/ico-tick.png">
                  Total purchase amount in company currency of the vendor credit note tree view.</h3>
         </div>
     </section>
     <section class="oe_container" style="padding: 3% 0% 0% 15%;">
         <div class="oe_row oe_spaced">
             <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
                 Screenshots
             </h2>
             <h3 class="oe_slogan" style="text-align: left;padding: 5% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
                 <img src="https://www.cybrosys.com/images/ico-tick.png">
                 Purchase order tree view
              </h3>
             <div class="oe_row oe_spaced">
                 <img src="amount-currency-purchase-cybrosys-1.png" alt="" style="width: 95%;"/>
             </div>
             <h3 class="oe_slogan" style="text-align: left;padding: 5% 0% 0% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
                 <img src="https://www.cybrosys.com/images/ico-tick.png">
                 Purchase Invoice tree view
              </h3>
             <div class="oe_row oe_spaced">
                 <img src="amount-currency-purchase-cybrosys-2.png" alt="" style="width: 95%;"/>
             </div>
         </div>
     </section>
     
     <section class="oe_container" style="padding: 7px 0% 0% 3%;">
          <div class="oe_row oe_spaced">
              <a style="color: #080808 !important;" href="https://apps.odoo.com/apps/modules/browse?search=cybrosys" target="_blank"><img src="https://www.cybrosys.com/images/view-more-apps.jpg" alt="cybrosys technologies" style="width: 100%;margin-bottom: 50px;"/></a>
          </div>
     </section>
     <section class="oe_container" style="padding: 1% 0% 0% 3%;">
         <div class="oe_row oe_spaced">
             <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
                 Our Services
             </h2>
             <div style="display:flex;padding-top: 20px;justify-content: space-between;">
                 <div style="flex-basis: 18%;">
     
                         <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                                 <a href="https://www.cybrosys.com/odoo-customization-and-installation/" target="_blank">
                                 <img src="https://www.cybrosys.com/images/odoo-customization.png" style="width: 100%;border-radius: 100%;"/>
                                 </a>
                         </div>
                          <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                              <a href="https://www.cybrosys.com/odoo-customization-and-installation/" target="_blank">
                             Odoo Customization
                              </a>
                          </h3>
     
                 </div>
                  <div style="flex-basis: 18%;">
     
                     <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                             <a href="https://www.cybrosys.com/odoo-erp-implementation/" target="_blank">
                                 <img src="https://www.cybrosys.com/images/odoo-erp-implementation.png" style="width: 100%;border-radius: 100%;"/>
                             </a>
                     </div>
                      <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                         <a href="https://www.cybrosys.com/odoo-erp-implementation/" target="_blank">
                             Odoo Implementation </a>
                      </h3>
     
                 </div>
                  <div style="flex-basis: 18%;">
     
                     <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                         <a href="https://www.cybrosys.com/odoo-erp-integration/" target="_blank">
                             <img src="https://www.cybrosys.com/images/odoo-erp-integration.png" style="width: 100%;border-radius: 100%;"/>
                         </a>
                     </div>
                      <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                         <a href="https://www.cybrosys.com/odoo-erp-integration/" target="_blank">
                             Odoo Integration
                         </a>
                      </h3>
     
                 </div>
                  <div style="flex-basis: 18%;">
     
                     <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                             <a href="https://www.cybrosys.com/odoo-erp-support/" target="_blank">
                                 <img src="https://www.cybrosys.com/images/odoo-erp-support.png" style="width: 100%;border-radius: 100%;"/>
                             </a>
                     </div>
                      <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                         <a href="https://www.cybrosys.com/odoo-erp-support/" target="_blank">
                             Odoo Support</a>
                      </h3>
     
                 </div>
                  <div style="flex-basis: 18%;">
     
                     <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                             <a href="https://www.cybrosys.com/hire-odoo-developer/" target="_blank">
                                 <img src="https://www.cybrosys.com/images/hire-odoo-developer.png" style="width: 100%;border-radius: 100%;"/>
                             </a>
                     </div>
                      <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                         <a href="https://www.cybrosys.com/hire-odoo-developer/" target="_blank">
                             Hire Odoo Developers</a>
                      </h3>
                          </a>
                 </div>
             </div>
         </div>
     </section>
     <section class="oe_container" style="padding: 1% 0% 0% 3%;">
          <div class="oe_row oe_spaced">
             <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
                 Our Industries
             </h2>
             <div style="display:flex;justify-content: space-between;flex-wrap:wrap;">
                 <div style="flex-basis: 32%;padding-top: 20px;">
     
                         <div style="width:30%; float:left;">
                             <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                                 <a href="https://www.cybrosys.com/odoo/industries/best-trading-erp/" target="_blank">
                                 <img src="https://www.cybrosys.com/images/odoo-index-industry-1.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                                 </a>
                             </div>
                         </div>
                         <div style="width:70%;float:left;">
                          <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                              <a href="https://www.cybrosys.com/odoo/industries/best-trading-erp/" target="_blank">
                             Trading
                              </a>
                          </h3>
                         <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                             Easily procure and sell your products.
                          </h3>
                             </div>
     
                 </div>
                 <div style="flex-basis: 32%;padding-top: 20px;">
     
                         <div style="width:30%; float:left;">
                             <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                                 <a href="https://www.cybrosys.com/odoo/industries/manufacturing-erp-software/" target="_blank">
                                 <img src="https://www.cybrosys.com/images/odoo-index-industry-2.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                                 </a>
                             </div>
                         </div>
                         <div style="width:70%;float:left;">
                          <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                             <a href="https://www.cybrosys.com/odoo/industries/manufacturing-erp-software/" target="_blank">
                                 Manufacturing</a>
                          </h3>
                         <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                             Plan, track and schedule your operations.
                          </h3>
                             </div>
     
                 </div>
                 <div style="flex-basis: 32%;padding-top: 20px;">
     
                         <div style="width:30%; float:left;">
                             <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                                 <a href="https://www.cybrosys.com/odoo/industries/restaurant-management/" target="_blank">
                                     <img src="https://www.cybrosys.com/images/odoo-index-industry-3.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                                 </a>
                             </div>
                         </div>
                         <div style="width:70%;float:left;">
                          <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                             <a href="https://www.cybrosys.com/odoo/industries/restaurant-management/" target="_blank">
                                 Restaurant</a>
                          </h3>
                         <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                             Run your bar or restaurant methodical.
                          </h3>
                             </div>
     
                 </div>
                 <div style="flex-basis: 32%;padding-top: 20px;">
     
                         <div style="width:30%; float:left;">
                             <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                                 <a href="https://www.cybrosys.com/odoo/industries/pos/" target="_blank">
                                     <img src="https://www.cybrosys.com/images/odoo-index-industry-4.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                                 </a>
                             </div>
                         </div>
                         <div style="width:70%;float:left;">
                          <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                             <a href="https://www.cybrosys.com/odoo/industries/pos/" target="_blank">
                                 POS</a>
                          </h3>
                         <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                             Easy configuring and convivial selling.
                          </h3>
                             </div>
     
                 </div>
                 <div style="flex-basis: 32%;padding-top: 20px;">
     
                         <div style="width:30%; float:left;">
                             <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                                 <a href="https://www.cybrosys.com/odoo/industries/ecommerce-website/" target="_blank">
                                 <img src="https://www.cybrosys.com/images/odoo-index-industry-5.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                                 </a>
                             </div>
                         </div>
                         <div style="width:70%;float:left;">
                          <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 0px;margin-left: 16px;">
                             <a href="https://www.cybrosys.com/odoo/industries/ecommerce-website/" target="_blank">
                                 E-commerce & Website</a>
                          </h3>
                         <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                             Mobile friendly, awe-inspiring product pages.
                          </h3>
                         </div>
                 </div>
                 <div style="flex-basis: 32%;padding-top: 20px;">
     
                         <div style="width:30%; float:left;">
                             <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                                 <a href="https://www.cybrosys.com/odoo/industries/hotel-management-erp/" target="_blank">
                                 <img src="https://www.cybrosys.com/images/odoo-index-industry-6.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                                 </a>
                             </div>
                         </div>
                         <div style="width:70%;float:left;">
                          <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                             <a href="https://www.cybrosys.com/odoo/industries/hotel-management-erp/" target="_blank">
                                 Hotel Management</a>
                          </h3>
                         <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                             An all-inclusive hotel management application.
                          </h3>
                             </div>
                 </div>
                 <div style="flex-basis: 32%;padding-top: 20px;">
     
                         <div style="width:30%; float:left;">
                             <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                                 <a href="https://www.cybrosys.com/odoo/industries/education-erp-software/" target="_blank">
                                 <img src="https://www.cybrosys.com/images/odoo-index-industry-7.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                                 </a>
                             </div>
                         </div>
                         <div style="width:70%;float:left;">
                          <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                             <a href="https://www.cybrosys.com/odoo/industries/education-erp-software/" target="_blank">
                                 Education</a>
                          </h3>
                         <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                             A Collaborative platform for educational management.
                          </h3>
                             </div>
                 </div>
                  <div style="flex-basis: 32%;padding-top: 20px;">
     
                         <div style="width:30%; float:left;">
                             <div style="width:75px;height:75px;background:#CE2D48; border-radius:100%;float: left;text-align: left;">
                                 <a href="https://www.cybrosys.com/odoo/industries/service-management/" target="_blank">
                                     <img src="https://www.cybrosys.com/images/odoo-index-industry-8.png" alt="Odoo Industry" style="    border-radius: 100%;width:100%;"/>
                                 </a>
                             </div>
                         </div>
                         <div style="width:70%;float:left;">
                          <h3 class="oe_slogan" style=" text-align: left;font-size: 14px;font-weight:800;width: auto;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 4px;margin-left: 16px;">
                             <a href="https://www.cybrosys.com/odoo/industries/service-management/" target="_blank">
                                 Service Management</a>
                          </h3>
                         <h3 class="oe_slogan" style=" text-align: left;font-size: 13px;width: auto;margin: 0;margin-top:5px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;float: left;margin-top: 5px;margin-left: 16px;">
                             Keep track of services and invoice accordingly.
                          </h3>
                             </div>
                 </div>
             </div>
         </div>
     </section>
     <section class="oe_container" style="background-image:url(https://www.cybrosys.com/images/odoo-index-footer-bg.png); background-repeat:no-repeat; background-size:100%;padding: 13% 0% 6% 0%;">
         <div class="oe_slogan" style="margin-top:10px !important;margin-bottom: 0px;">
             <div>
                 <a style="color: #5c5c5c !important;border-radius: 0;background: none;border: none;background: #fff;box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.05);border-radius: 30px;font-size: 12px;padding: 9px 26px;margin-right: 9px;width: 200px;text-transform: capitalize;" class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;" href="mailto:odoo@cybrosys.com"><i class="fa fa-envelope"></i> Email us </a>
                 <a style="color: #5c5c5c !important;border-radius: 0;background: none;border: none;background: #fff;box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.05);border-radius: 30px;font-size: 12px;padding: 9px 26px;margin-right: 9px;width: 200px;text-transform: capitalize;" class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;" href="https://www.cybrosys.com/contact/"><i class="fa fa-phone"></i> Contact Us </a>
                 <a style="color: #5c5c5c !important;border-radius: 0;background: none;border: none;background: #fff;box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.05);border-radius: 30px;font-size: 12px;padding: 9px 26px;margin-right: 9px;width: 200px;text-transform: capitalize;" class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;" href="https://www.cybrosys.com/contact/"><i class="fa fa-check-square"></i> Request Customization </a>
             </div>
             <br>
             <img src="https://www.cybrosys.com/images/logo.png" style="width: 190px; margin-bottom: 25px;margin-top: 30px;" class="center-block">
             <div>
               <a href="https://twitter.com/cybrosys" target="_blank"><i class="fa fa-2x fa-twitter" style="color:white;background: #00a0d1;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a></td>
               <a href="https://www.linkedin.com/company/cybrosys-technologies-pvt-ltd" target="_blank"><i class="fa fa-2x fa-linkedin" style="color:white;background: #31a3d6;width:35px;padding-left: 3px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a></td>
               <a href="https://www.facebook.com/cybrosystechnologies" target="_blank"><i class="fa fa-2x fa-facebook" style="color:white;background: #3b5998;width:35px; ;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a></td>
               <a href="https://plus.google.com/106641282743045431892/about" target="_blank"><i class="fa fa-2x fa-google-plus" style="color:white;background: #c53c2c;width:35px;padding-left: 3px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a></td>
               <a href="https://in.pinterest.com/cybrosys" target="_blank"><i class="fa fa-2x fa-pinterest" style="color:white;background: #ac0f18;width:35px;padding-left: 3px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a></td>
             </div>
         </div>
     </section>