.your_custom_button {
  font-weight: normal;
  width: 132px !important;
  height: 40px;
  color: #666;
  margin: 0px -1px -1px 0px;
  padding: 0;
  border: 1px solid #dddddd;
  border-radius: 0;
  box-shadow: none;
  background: white;
}


.c_cancel_button {
    background: #ff1636;
}


.c_approve_button {
    background: #2bff6c;
}


.c_request_approve_button {
    background-color: #71a9ff;
}


.notification_summary{
    float: right;
    clear: both;
    height: 100px;
    width: 100px;
    color:white;
    margin: 10px;
}
.undread_notifications {

    background: #3B0D06;
}

.shown_notifications {

    background: #0E76A8;

}

.total_notifications {

    background: #2bff6c;

}

.info_value{
    font-weight: bold;
    color: black;
}
.main_screen{
    width: 100%;
    min-width: 900px;

}
.create_notifiy{
    background: #2ECC71;
}
.panel_summary{
    float: left;
    width: 23%;
    margin: 1%;
    border-left: 1px solid white;
}

.info_key{
    text-style:bold;
}

.oe_kanban_color_0 {
        background-color: #FFFFFF;
        color: #5a5a5a;
    }
    .oe_kanban_color_1 {
        padding:50px;
        background-color: #d5d3d0;
        color: black;
         background-image: linear-gradient(deepskyblue, dodgerblue, dodgerblue) !important;
    }
    .oe_kanban_color_2 {
        background-color: #e5d8e3;
        color: #7a3737;
    }
    .oe_kanban_color_3 {
        background-color: #71a9ff !important;
        color: #756832;
    }
    .oe_kanban_color_4 {
        background-color: #0E76A8;
        color: #5d6937;
    }
    .oe_kanban_color_5 {
        background-color: #abd4cc;
        color: #1a7759;
    }
    .oe_kanban_color_6 {
        background-color: #b8e3e8;
        color: #1a5d83;
    }
    .oe_kanban_color_7 {
        background-color: #0E76A8;
        color: #5e5e5e;}


/*. ono to meni rie recordy ,ale ocividne len vysku, treba to vymysliet na sirku a len na dashboard

o_kanban_record{ */
    /*display: block;*/
    /*width: 1500px !important;*/
    /*height: 500px;*/
    /*position: relative;*/
/*}*/

.o_salesteam_kanban {
display: block;
    width: 1500px !important;
    height: 500px;

}

.dashboard_kanban{
    display: block !important;
      background-color: #d5d3d0;
    min-width: 900px;
    padding:50px;
    width: 120vh !important;
}