<div class="container">
<h2>Description</h2>
Allows users in the 'Sales / Manager' group to add additional fields to the partner form<br>
<br>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Add new fields without having to add python or edit xml.</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="1.jpg" alt="Add CRM Fields">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Designed to simplify the adding of new fields to the CRM.<br/>
<br/>
<b>Instructions</b><br/>
1.  Go to any customer record and open the 'Custom Fields' tab<br>
2.  Click on the 'Add Custom Field' button<br/>
3.  Refresh your browser to see the new fields under the Custom Fields tab<br/>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Simple field configuration form</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Intuitive add field form<br/>
<br/>
<b>Instructions</b><br/>
1.  Go to any customer record and open the 'Custom Fields' tab<br>
2.  Click on the 'Add Custom Field' button<br/>
3.  Click 'Add an item'<br/>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">

<img class="oe_picture oe_screenshot" src="3.jpg" alt="Simple add field interface">

            </div>
        </div>
    </div>
</section>
</div>