

<section class="container">

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 mt16" style="padding:0;">
            <!-- Price, Promo, Dependancies -->
            <div class="col-md-12" style="padding:0;">
                <div class="panel-group mb0 mt0"
                     role="tablist"
                     id="priceAccordeon"
                     style="padding:0;"
                >
                    <div class="panel-heading collapsed mb0 mt0"
                         role="tab"
                         data-toggle="collapse"
                         data-parent="#priceAccordeon"
                         data-target="#priceAccordeon_area"
                         aria-expanded="false"
                         style="margin-left:0;padding:0 0 2px 0;text-align:right;"
                    >
                        <strong>
                            <!-- Price -->
                            <div style="background-color:#21B799;color:white;padding:5px;text-align:left;border-radius:5px;cursor:pointer;white-space:nowrap;display: inline-block;">
                                <strong title="Click to observe details">
                                    <i class="fa fa-tags"> </i>
                                    <span style="margin-left:1px;">
                                        €48
                                    </span>
                                    <i class="fa fa-angle-down" style="margin-left:2px;"> </i>
                                </strong>
                            </div>
                            <!-- Compatibility -->
                            <div style="background-color:#0D6759;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Enterprise
                                </strong>
                            </div>
                            <div style="background-color:#0D6759;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool is compatible with the Odoo Community version">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Community
                                </strong>
                            </div>
                            <div style="background-color:#0D6759;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Odoo.sh
                                </strong>
                            </div>
                        </strong>
                    </div>
                    <div class="panel-collapse collapse"
                         role="tabpanel"
                         id="priceAccordeon_area"
                         aria-expanded="false"
                         style="padding:0;border:1px dotted #ddd;"
                    >
                        <div class="panel-body">
                            <!-- Promo -->
                            <!-- Dependancies -->
                            <div class="mt8">
                                    The tool does not require extra dependencies beside standard Odoo apps
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Rich Summary -->
        <div class="col-md-12 mt8" style="padding:0;">
            <div class="col-md-12" style="padding:0 0px 0 0px;">
                    <p style="font-size:18px;">
                        To make a sale, each company undertakes a specific sequence of actions which usually involves various user roles and various requirements to be fulfilled. Control of that process is both complex and extremely important. If a salesperson misses a step, a promising deal might evolve to a drastic failure. This tool is to make sure that a sale order is always ready to the next stage and all intermediary results are approved. The app let you prepare a check list per each state, force users to confirm all points, and control approval by responsible managers.
                    </p>
            </div>
        </div>
        <div class="col-md-12 mt8" style="padding:0;">
            <!-- Tabs List -->
            <ul role="tablist"
                class="nav nav-tabs"
                data-tabs="tabs"
                style="font-size:18px;"
            >
                <li class="nav-item">
                    <a href="#features"
                       data-toggle="tab"
                       class="active show"
                       aria-expanded="true"
                       style="color:#21B799;"
                    >
                        Features
                    </a>
                </li>
                    <li class="nav-item">
                        <a href="#faq"
                           data-toggle="tab"
                           class=""
                           aria-expanded="false"
                           style="color:#21B799;"
                        >
                           FAQ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#screenshots"
                           data-toggle="tab"
                           class=""
                           aria-expanded="false"
                           style="color:#21B799;"
                        >
                           Screenshots
                        </a>
                    </li>
                <li class="nav-item">
                    <a href="#support_info"
                       data-toggle="tab"
                       class=""
                       aria-expanded="false"
                       style="color:#21B799;"
                    >
                       Support
                       <span>&amp; Demo</span>
                    </a>
                </li>
            </ul>
            <!-- Tabs' content -->
            <div class="tab-content">
                <!-- Features -->
                <div class="tab-pane active show"
                     id="features"
                >
                    <div class="col-md-12 mt8" style="padding:0;">
                        <!-- Alerts -->
                        <!-- Features, Extra notes, Reviews  -->
                        <div class="col-md-12" style="padding: 0;margin: 8px 0 0 0;">
                            <div class="col-md-12"
                                 style="margin: 8px 0px;padding:0 0;"
                            >
                                <h3 style="padding:0;margin:4px 0;font-size:22px !important;">
                                    <i class="fa fa-check-square-o" style="color:#21B799;font-size:28px;"> </i>
                                    <span style="margin-left:5px;color:#333333;">
                                        Check lists per sales team and order state
                                    </span>
                                </h3>
                                <p style="font-size:18px;color:#777777;margin-bottom: 0;">
                                    Checklists are defined for each sales team what let you reflect various work flows depending on applied sales typology. Sale managers by themselves specify what and on which order state should be done and approved. A set is unlimited, might reflect custom stages, and it is as unique as you want.<br/>
As a result when a sale order has an assigned team and gets its state updated, a check list would be automatically prepared.
                                </p>
                                <!-- Extra notes -->
                                    <div class="panel-group mb0 mt0"
                                         role="tablist"
                                         id="noteAccordeon_301"
                                         style="padding:0;"
                                    >
                                        <div class="panel-heading collapsed mb0 mt0"
                                             role="tab"
                                             data-toggle="collapse"
                                             data-parent="#noteAccordeon_301"
                                             data-target="#noteAccordeon_301_area"
                                             aria-expanded="false"
                                             style="padding:4px 0;"
                                        >
                                            <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                                How check list points might be missed
                                                <i class="fa fa-angle-down" style="margin-left:2px;"> </i>
                                            </span>
                                        </div>
                                        <div class="panel-collapse collapse"
                                             role="tabpanel"
                                             id="noteAccordeon_301_area"
                                             aria-expanded="false"
                                             style="padding:0;border:1px dotted #ddd;"
                                        >
                                            <div class="panel-body" style="font-size:18px;">
                                                <p style='font-size:18px;'>Often an order state change does not require fulfilment of all requirements. For example, when you cancel a sale it seems unreasonable to approve customer credibility.</p>
<p style='font-size:18px;'>In such a case you should merely define states moving to which doesn't need confirmation. It is possible to do right under the check list settings on a team form.</p>
<p style='font-size:18px;'>One of important use cases is also the state 'Quotation sent'. Sometimes, approval is required for an order confirmation but not for its forwarding to a client. This step might be even missed. In that situation you should define the same check points for the states 'Quotation' and 'Quotation Sent', while 'Quotation Sent' should be added as a no-checklist-required step.</p>
                                            </div>
                                            <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                                 data-toggle="collapse"
                                                 data-parent="#noteAccordeon_301"
                                                 data-target="#noteAccordeon_301_area"
                                            >
                                                <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                                    How check list points might be missed
                                                    <i class="fa fa-angle-up" style="margin-left:2px;"> </i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                <!-- Feature own screenshots -->
                                <div class="panel-group mb0 mt0"
                                     role="tablist"
                                     id="features_screenshots_1798"
                                     style="padding:0;"
                                >
                                    <div class="panel-heading collapsed mb0 mt0"
                                         role="tab"
                                         data-toggle="collapse"
                                         data-parent="#features_screenshots_1798"
                                         data-target="#features_screenshots_area_1798"
                                         aria-expanded="false"
                                         style="padding:4px 0;"
                                    >
                                        <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                            Screenshots
                                            <i class="fa fa-angle-down" style="margin-left:2px;"> </i>
                                        </span>
                                    </div>
                                    <div class="panel-collapse collapse"
                                         role="tabpanel"
                                         id="features_screenshots_area_1798"
                                         aria-expanded="false"
                                         style="padding:0;border:1px dotted #ddd;"
                                    >
                                        <div class="panel-body" style="font-size:18px;">
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Sale team checklist settings</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Check list per team and order state"
                                                         src="sale_team_checklist_setting.png"
                                                    />
                                                </div>
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Check list is unique per order state and team</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Approval points per sale order state"
                                                         src="checklist_main.png"
                                                    />
                                                </div>
                                            <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                                 data-toggle="collapse"
                                                 data-parent="#features_screenshots_1798"
                                                 data-target="#features_screenshots_area_1798"
                                            >
                                                <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                                    Screenshots
                                                    <i class="fa fa-angle-up" style="margin-left:2px;"> </i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Reviews -->
                            </div>
                            <div class="col-md-12"
                                 style="margin: 8px 0px;padding:0 0;"
                            >
                                <h3 style="padding:0;margin:4px 0;font-size:22px !important;">
                                    <i class="fa fa-check-square-o" style="color:#21B799;font-size:28px;"> </i>
                                    <span style="margin-left:5px;color:#333333;">
                                        Sale order multi approval flow
                                    </span>
                                </h3>
                                <p style="font-size:18px;color:#777777;margin-bottom: 0;">
                                    In order to move an order to a new state, a sales person needs to enter all confirmation points and get approval for ones he doesn't have a right to enter.<br/>
Since the tool let assign user groups for each checklist line, you may force various employees to take part in a sale evolvement. In such a way it is guaranteed that all actions are done and carefully checked.
                                </p>
                                <!-- Extra notes -->
                                    <div class="panel-group mb0 mt0"
                                         role="tablist"
                                         id="noteAccordeon_302"
                                         style="padding:0;"
                                    >
                                        <div class="panel-heading collapsed mb0 mt0"
                                             role="tab"
                                             data-toggle="collapse"
                                             data-parent="#noteAccordeon_302"
                                             data-target="#noteAccordeon_302_area"
                                             aria-expanded="false"
                                             style="padding:4px 0;"
                                        >
                                            <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                                When Odoo would warn salespersons to confirm check lists
                                                <i class="fa fa-angle-down" style="margin-left:2px;"> </i>
                                            </span>
                                        </div>
                                        <div class="panel-collapse collapse"
                                             role="tabpanel"
                                             id="noteAccordeon_302_area"
                                             aria-expanded="false"
                                             style="padding:0;border:1px dotted #ddd;"
                                        >
                                            <div class="panel-body" style="font-size:18px;">
                                                <p style='font-size:18px;'>Odoo will scan check lists as soon as a user tries to change sale state. In particular it happens when:</p>
<ul>
<li>A user tries to confirm an order ('Quotation' > 'Sale Order' and 'Quotation Sent' > 'Sale Order').</li>
<li>A user locks ('Sale order' > 'Locked') or unlocks ('Locked' > 'Sale order') a sale.</li>
<li>A user prints or sends a draft quotation ('Quotation' > 'Quotation Sent').</li>
<li>A user cancels a quotation (any state > 'Cancelled') or re-set cancelled quotation ('Cancelled' > 'Quotation').</li>
</ul>
<p style='font-size:18px;'>Surely, you are not obliged to have a check list for each state. Scanning of empty checklist is always considered as successful.</p>
<p style='font-size:18px;'>Besides, if you had custom stages, transitions to those would be also taken into account.</p>
                                            </div>
                                            <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                                 data-toggle="collapse"
                                                 data-parent="#noteAccordeon_302"
                                                 data-target="#noteAccordeon_302_area"
                                            >
                                                <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                                    When Odoo would warn salespersons to confirm check lists
                                                    <i class="fa fa-angle-up" style="margin-left:2px;"> </i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                <!-- Feature own screenshots -->
                                <div class="panel-group mb0 mt0"
                                     role="tablist"
                                     id="features_screenshots_1799"
                                     style="padding:0;"
                                >
                                    <div class="panel-heading collapsed mb0 mt0"
                                         role="tab"
                                         data-toggle="collapse"
                                         data-parent="#features_screenshots_1799"
                                         data-target="#features_screenshots_area_1799"
                                         aria-expanded="false"
                                         style="padding:4px 0;"
                                    >
                                        <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                            Screenshots
                                            <i class="fa fa-angle-down" style="margin-left:2px;"> </i>
                                        </span>
                                    </div>
                                    <div class="panel-collapse collapse"
                                         role="tabpanel"
                                         id="features_screenshots_area_1799"
                                         aria-expanded="false"
                                         style="padding:0;border:1px dotted #ddd;"
                                    >
                                        <div class="panel-body" style="font-size:18px;">
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Approval involves various user roles</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Check point security access"
                                                         src="checklist_security.png"
                                                    />
                                                </div>
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Quotation state can't be changed until checklist is confirmed</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Check list mist be done to move an order further"
                                                         src="quotation_state_change.png"
                                                    />
                                                </div>
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Odoo scans check list progress for any attempt of state update</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Send by email button check list"
                                                         src="quotation_send_without_approval.png"
                                                    />
                                                </div>
                                            <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                                 data-toggle="collapse"
                                                 data-parent="#features_screenshots_1799"
                                                 data-target="#features_screenshots_area_1799"
                                            >
                                                <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                                    Screenshots
                                                    <i class="fa fa-angle-up" style="margin-left:2px;"> </i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Reviews -->
                            </div>
                            <div class="col-md-12"
                                 style="margin: 8px 0px;padding:0 0;"
                            >
                                <h3 style="padding:0;margin:4px 0;font-size:22px !important;">
                                    <i class="fa fa-check-square-o" style="color:#21B799;font-size:28px;"> </i>
                                    <span style="margin-left:5px;color:#333333;">
                                        Approval history
                                    </span>
                                </h3>
                                <p style="font-size:18px;color:#777777;margin-bottom: 0;">
                                    If a user marks a check point as done or as not done, the action is carefully recorded in the history. In such a way you always can investigate who and when makes a sale approval. It guarantees transparency and employees commitment.
                                </p>
                                <!-- Extra notes -->
                                <!-- Feature own screenshots -->
                                <!-- Reviews -->
                            </div>
                            <div class="col-md-12"
                                 style="margin: 8px 0px;padding:0 0;"
                            >
                                <h3 style="padding:0;margin:4px 0;font-size:22px !important;">
                                    <i class="fa fa-check-square-o" style="color:#21B799;font-size:28px;"> </i>
                                    <span style="margin-left:5px;color:#333333;">
                                        Indicative checklist to-do
                                    </span>
                                </h3>
                                <p style="font-size:18px;color:#777777;margin-bottom: 0;">
                                    Not yet done check points are shown right on the tree of quotations and on the list of sale orders. You may distinguish those by colors and always search them by key words.
                                </p>
                                <!-- Extra notes -->
                                <!-- Feature own screenshots -->
                                <div class="panel-group mb0 mt0"
                                     role="tablist"
                                     id="features_screenshots_1801"
                                     style="padding:0;"
                                >
                                    <div class="panel-heading collapsed mb0 mt0"
                                         role="tab"
                                         data-toggle="collapse"
                                         data-parent="#features_screenshots_1801"
                                         data-target="#features_screenshots_area_1801"
                                         aria-expanded="false"
                                         style="padding:4px 0;"
                                    >
                                        <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                            Screenshots
                                            <i class="fa fa-angle-down" style="margin-left:2px;"> </i>
                                        </span>
                                    </div>
                                    <div class="panel-collapse collapse"
                                         role="tabpanel"
                                         id="features_screenshots_area_1801"
                                         aria-expanded="false"
                                         style="padding:0;border:1px dotted #ddd;"
                                    >
                                        <div class="panel-body" style="font-size:18px;">
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Check lists to-do on tree views</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Quotations tree with check items"
                                                         src="sales_with_approval_todo.png"
                                                    />
                                                </div>
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Search orders by check point to be done</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Search by check lists"
                                                         src="sale_checklist_to_do_search.png"
                                                    />
                                                </div>
                                            <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                                 data-toggle="collapse"
                                                 data-parent="#features_screenshots_1801"
                                                 data-target="#features_screenshots_area_1801"
                                            >
                                                <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                                    Screenshots
                                                    <i class="fa fa-angle-up" style="margin-left:2px;"> </i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Reviews -->
                            </div>
                            <div class="col-md-12"
                                 style="margin: 8px 0px;padding:0 0;"
                            >
                                <h3 style="padding:0;margin:4px 0;font-size:22px !important;">
                                    <i class="fa fa-check-square-o" style="color:#21B799;font-size:28px;"> </i>
                                    <span style="margin-left:5px;color:#333333;">
                                        Super checklist user
                                    </span>
                                </h3>
                                <p style="font-size:18px;color:#777777;margin-bottom: 0;">
                                    In any workflows you may encounter exceptions. Sometimes sales persons would reasonably like to move an order forward although not everything is done. For example, when a customer is super perspective or is a loyal partner.<br/>
In such a case you should assign the super check list access level for yourself or for any responsible manager. A user with such rights would be able both to change an order sate without approving check list and confirm any check point disregarding security restrictions. 
                                </p>
                                <!-- Extra notes -->
                                <!-- Feature own screenshots -->
                                <div class="panel-group mb0 mt0"
                                     role="tablist"
                                     id="features_screenshots_1802"
                                     style="padding:0;"
                                >
                                    <div class="panel-heading collapsed mb0 mt0"
                                         role="tab"
                                         data-toggle="collapse"
                                         data-parent="#features_screenshots_1802"
                                         data-target="#features_screenshots_area_1802"
                                         aria-expanded="false"
                                         style="padding:4px 0;"
                                    >
                                        <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                            Screenshots
                                            <i class="fa fa-angle-down" style="margin-left:2px;"> </i>
                                        </span>
                                    </div>
                                    <div class="panel-collapse collapse"
                                         role="tabpanel"
                                         id="features_screenshots_area_1802"
                                         aria-expanded="false"
                                         style="padding:0;border:1px dotted #ddd;"
                                    >
                                        <div class="panel-body" style="font-size:18px;">
                                                <div class="col-md-12 mb32">
                                                    <h4 style="text-align:right;"><i>Super checklist user has full rights for any check list</i></h4>
                                                    <img class="img img-responsive shadow"
                                                         alt="Check list super access level"
                                                         src="approval_checklist_user_rights.png"
                                                    />
                                                </div>
                                            <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                                 data-toggle="collapse"
                                                 data-parent="#features_screenshots_1802"
                                                 data-target="#features_screenshots_area_1802"
                                            >
                                                <span style="cursor:pointer;color:#21B799;font-size:18px;">
                                                    Screenshots
                                                    <i class="fa fa-angle-up" style="margin-left:2px;"> </i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Reviews -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- User guidlines (configuration) -->
                <!-- FAQ -->
                <div class="tab-pane"
                     id="faq"
                >
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_71"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_71"
                                 data-target="#article_accordeon_71_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    I faced the error: QWeb2: Template 'X' not found
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_71_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            <div class="knowsystem_block_title_text">
            <div class="knowsystem_snippet_general" style="margin:0px auto 0px auto;width:100%;">
                <table align="center" cellspacing="0" cellpadding="0" border="0" class="knowsystem_table_styles" style="width:100%;background-color:transparent;border-collapse:separate;">
                    <tbody>
                        <tr>
                            <td width="100%" class="knowsystem_h_padding knowsystem_v_padding o_knowsystem_no_colorpicker" style="padding:20px;vertical-align:top;text-align:inherit;">
                                
                                <ol style="margin:0px 0 10px 0;list-style-type:decimal;"><li><p class="" style="margin:0px;">Restart your Odoo server and update the module</p></li><li><p class="" style="margin:0px;">Clean your browser cashe (Ctrl + Shift + R) or open Odoo in a private window.</p></li></ol></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_71"
                                         data-target="#article_accordeon_71_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            I faced the error: QWeb2: Template 'X' not found <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_123"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_123"
                                 data-target="#article_accordeon_123_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    May I buy your app from your company directly?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_123_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="margin:0px 0px 10px 0px;">Sorry, but no. We distribute the
tools only through the <a href="https://apps.odoo.com/apps" style="text-decoration:none;color:rgb(13, 103, 89);background-color:transparent;">official Odoo apps store</a></p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_123"
                                         data-target="#article_accordeon_123_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            May I buy your app from your company directly? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_125"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_125"
                                 data-target="#article_accordeon_125_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    How should I install your app?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_125_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="line-height:120%;margin:0px 0px 10px 0px;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><ol style="margin:0px 0 10px 0;list-style-type:decimal;">
	<li><p style="margin:0px;line-height:120%;">Unzip source code of purchased tools in one of your Odoo
	add-ons directory</p>
	</li><li><p style="margin:0px;line-height:120%;">Re-start the Odoo server</p>
	</li><li><p style="margin:0px;line-height:120%;">Turn on the developer mode (technical settings)</p>
	</li><li><p style="margin:0px;line-height:120%;">Update the apps' list (the apps' menu)</p>
	</li><li><p style="margin:0px;line-height:120%;">Find the app and push the button 'Install'</p>
	</li><li><p style="margin:0px;line-height:120%;">Follow the guidelines on the app's page if those exist.</p>
</li></ol>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_125"
                                         data-target="#article_accordeon_125_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            How should I install your app? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_126"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_126"
                                 data-target="#article_accordeon_126_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    Your tool has dependencies on other app(s). Should I purchase those?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_126_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="margin:0px 0px 0.25cm 0px;line-height:120%;">Yes, all modules marked in
dependencies are absolutely required for a correct work of our tool.
Take into account that prices marked on the app page already includes
all necessary dependencies.&nbsp;&nbsp;</p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_126"
                                         data-target="#article_accordeon_126_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            Your tool has dependencies on other app(s). Should I purchase those? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_127"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_127"
                                 data-target="#article_accordeon_127_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    I noticed that your app has extra add-ons. May I purchase them afterwards?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_127_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="margin:0px 0px 0.25cm 0px;line-height:120%;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><p style="margin:0px 0px 0.25cm 0px;line-height:120%;">Yes, sure. Take into account that Odoo
automatically adds all dependencies to a cart. You should exclude
previously purchased tools.</p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_127"
                                         data-target="#article_accordeon_127_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            I noticed that your app has extra add-ons. May I purchase them afterwards? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_129"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_129"
                                 data-target="#article_accordeon_129_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    I would like to get a discount
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_129_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="margin:0px 0px 0.25cm 0px;line-height:120%;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><p style="margin:0px 0px 0.25cm 0px;line-height:120%;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><p style="margin:0px 0px 0.25cm 0px;line-height:120%;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><p style="margin:0px 0px 0.25cm 0px;line-height:120%;">Regretfully, we do not have a
technical possibility to provide individual prices.</p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_129"
                                         data-target="#article_accordeon_129_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            I would like to get a discount <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_128"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_128"
                                 data-target="#article_accordeon_128_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    What are update policies of your tools?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_128_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="margin:0px 0px 0.25cm 0px;line-height:120%;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><p style="margin:0px 0px 0.25cm 0px;line-height:120%;">
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


</p><p style="margin:0px 0px 0.25cm 0px;line-height:120%;">According to the current Odoo store
policies, by purchasing a tool you receive rights for all current and
all future versions of the tool.</p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_128"
                                         data-target="#article_accordeon_128_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            What are update policies of your tools? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_124"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_124"
                                 data-target="#article_accordeon_124_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    How can I install your app on Odoo.sh?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_124_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            
	
	
	<style type="text/css">
	<!--
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	-->
	</style>


<p style="margin:0px 0px 10px 0px;">As soon as you purchased the
app, the button 'Deploy on Odoo.sh' will appear on the app's page in
the Odoo store. Push this button and follow the instructions.</p>
<p style="margin:0px 0px 10px 0px;">Take into account that for paid
tools you need to have a private GIT repository linked to your
Odoo.sh projects</p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_124"
                                         data-target="#article_accordeon_124_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            How can I install your app on Odoo.sh? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group mb16 mt16"
                             role="tablist"
                             id="article_accordeon_153"
                             style="padding:20px;border:1px solid #21B799;border-radius:5px;box-shadow:2px 7px 2px 1px rgba(33, 183, 153, 0.2);"
                        >
                            <div class="panel-heading collapsed mb0 mt0"
                                 role="tab"
                                 data-toggle="collapse"
                                 data-parent="#article_accordeon_153"
                                 data-target="#article_accordeon_153_area"
                                 aria-expanded="false"
                                 style="padding:4px 0;"
                            >
                                <span style="cursor:pointer;color:#333333;font-size:18px;">
                                    May I install the app on my Odoo Online (SaaS) database?
                                    <i class="fa fa-angle-down" style="margin-left:2px;color:#21B799;"> </i>
                                </span>
                            </div>
                            <div class="panel-collapse collapse"
                                 role="tabpanel"
                                 id="article_accordeon_153_area"
                                 aria-expanded="false"
                                 style="padding:0;"
                            >
                                <div class="panel-body" style="font-size:18px;">
                                    <div class="col-md-12 mb8">
                                        <span style="font-size:18px">
                                            <p style="margin:0px 0px 10px 0px;">No, third party apps can not be used on Odoo Online.</p>
                                        </span>
                                    </div>
                                    <div style="text-align:right; padding-bottom:8px; padding-right:8px;"
                                         data-toggle="collapse"
                                         data-parent="#article_accordeon_153"
                                         data-target="#article_accordeon_153_area"
                                    >
                                        <span style="font-size:18px; cursor:pointer;">
                                            May I install the app on my Odoo Online (SaaS) database? <i class="fa fa-angle-up" style="margin-left:2px;color:#21B799;"> </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- All Features Screenshots -->
                <div class="tab-pane"
                     id="screenshots"
                >
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Sale team checklist settings
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Check list per team and order state"
                                 src="sale_team_checklist_setting.png"
                            />
                        </div>
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Check list is unique per order state and team
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Approval points per sale order state"
                                 src="checklist_main.png"
                            />
                        </div>
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Approval involves various user roles
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Check point security access"
                                 src="checklist_security.png"
                            />
                        </div>
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Quotation state can't be changed until checklist is confirmed
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Check list mist be done to move an order further"
                                 src="quotation_state_change.png"
                            />
                        </div>
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Odoo scans check list progress for any attempt of state update
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Send by email button check list"
                                 src="quotation_send_without_approval.png"
                            />
                        </div>
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Check lists to-do on tree views
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Quotations tree with check items"
                                 src="sales_with_approval_todo.png"
                            />
                        </div>
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Search orders by check point to be done
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Search by check lists"
                                 src="sale_checklist_to_do_search.png"
                            />
                        </div>
                        <div class="col-md-12 mb0 mt4 alert alert-success" style="margin-left:15px;margin-right:30px;">
                             <span style="font-size:18px">
                                Super checklist user has full rights for any check list
                             </span>
                        </div>
                        <div class="col-md-12 mb16 mt4">
                            <img class="img img-responsive shadow"
                                 alt="Check list super access level"
                                 src="approval_checklist_user_rights.png"
                            />
                        </div>
                </div>
                <!-- Support and demo -->
                <div class="tab-pane" id="support_info">
                    <div class="col-md-12 mt4 mb4 alert alert-success">
                         <span style="font-size:18px">
                            To contact us please register in our support system. Registration form is available by any link below. Registration doesn't take more than 30 seconds. No phone number or credit card are required
                         </span>
                    </div>
                    <div class="col-md-12"
                         style="background-color:#0D6759; padding:2%;"
                    >
                        <div style="font-size:25px;" class="text-center">
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_121&amp;x_custom_2=x_option_3&amp;url_type_id=1"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-bug" style="color:white;"/> Bug Report
                            </a>
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_121&amp;x_custom_2=x_option_3&amp;url_type_id=4"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-info-circle" style="color:white;"/> Raise Question
                            </a>
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_121&amp;x_custom_2=x_option_3&amp;url_type_id=2"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-bookmark" style="color:white;"/> New Features
                            </a>
                        </div>
                        <div style="font-size:25px"  class="text-center">
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_121&amp;x_custom_2=x_option_3&amp;url_type_id=3&amp;name=Demo Database for Testing"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-laptop" style="color:white;"/>  Request Demo Database (Live Preview)
                            </a>
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_121&amp;x_custom_2=x_option_3&amp;url_type_id=5"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-lightbulb-o" style="color:white;"/>  Share Module Ideas
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 mt16">
                        <p style="font-size:18px;">
                            The module features and support depend on your Odoo version. Please select required one on the top right of this page.
                        </p>
                        <p style="font-size:18px;">
                            We guarantee to provide a working plan by your issue within 5 days. The most of issues are solved within 2 business days.
                        </p>
                        <p style="font-size:18px;">
                            <a href="https://odootools.com/">OdooTools</a> is the team of developers and business analysts to help you extend Odoo potential. We have been communicating with end users to whom the software became the main business tool since 2012. As a result, we are proud of dozens of successful Odoo apps developed.  We are open for new ideas and challenges to create the best Odoo tools for business needs all over the world.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Promoted apps -->
        <div class="col-md-12 mt32">
            <div class="row col-md-12">
                <h3>You may like the tools</h3>
            </div>
            <div class="row mb8">
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/11.0/crm_duplicates">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_1.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/11.0/crm_duplicates">
                            <span style="font-size:16px">CRM Duplicates Real Time Search</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool for real-time control of customers' and opportunities duplicates</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 86
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/11.0/crm_checklist">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_2.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/11.0/crm_checklist">
                            <span style="font-size:16px">CRM Check List and Approval Process</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to make sure required jobs are carefully done on this pipeline stage</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 28
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/11.0/low_sales_report">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_3.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/11.0/low_sales_report">
                            <span style="font-size:16px">Low Sales Report</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to control poorly performing products</span>
                        </p>
                        <strong class="pull-right">
                                <del style="font-size:14px;color:#BA3C3D;">
                                    € 32
                                </del>
                            <span style="font-size:14px;margin-left:5px;">
                                € 24
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/11.0/opportunity_custom_fields">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_4.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/11.0/opportunity_custom_fields">
                            <span style="font-size:16px">Custom Fields for Opportunities</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to add new fields for Odoo CRM opportunities without any technical knowledge</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 38
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/11.0/notification_crm">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_5.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/11.0/notification_crm">
                            <span style="font-size:16px">CRM Daily Reminder</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to notify salespersons of topical activities by leads and opportunities</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 28
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/11.0/user_warehouse_default">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_6.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/11.0/user_warehouse_default">
                            <span style="font-size:16px">User Default Warehouse</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to automatically assign a current user warehouse in sales orders</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 19
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/11.0/knowsystem">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_7.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/11.0/knowsystem">
                            <span style="font-size:16px">KnowSystem</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to build deep and structured knowledge base for internal and external use</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 228
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/11.0/owncloud_odoo">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_8.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/11.0/owncloud_odoo">
                            <span style="font-size:16px">OwnCloud / NextCloud Odoo Integration</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to automatically synchronize Odoo attachments with OwnCloud / NextCloud files in both ways</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 394
                            </span>

                        </strong>
                    </div>
                </div>
                <div class="col-md-4 row mt8 mb8" style="min-height: 150px;">
                    <div class="col-md-3 mt8">
                        <a href="https://apps.odoo.com/apps/modules/11.0/google_drive_odoo">
                            <img class="img img-responsive icon_module"
                                 src="app_icon_9.png"
                                 alt="Odoo Recommended App"
                            />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="https://apps.odoo.com/apps/modules/11.0/google_drive_odoo">
                            <span style="font-size:16px">Google Drive Odoo Integration</span>
                        </a>
                        <p class="mt0 mb0">
                            <span style="font-size:14px">The tool to automatically synchronize Odoo attachments with Google Drive files in both ways</span>
                        </p>
                        <strong class="pull-right">
                            <span style="font-size:14px;margin-left:5px;">
                                € 394
                            </span>

                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb8 text-center hidden-xs">
            <span style="font-size:18px;background-color:#0D6759;padding:5px 20px 7px 20px;text-align:center;border-radius:5px;display: inline-block;">
                <a href="https://apps.odoo.com/apps/modules/browse?author=Odoo%20Tools" style="color:white;text-decoration:none;">
                    <i class="fa fa-long-arrow-right"> </i> More apps by Odoo Tools
                </a>
            </div>
        </div>
    </div>
</div>


