
<!--		 main  Features block-->
<section class="oe_container oe_dark lead" style="padding-top:50px;">
		<h2> 
			<font>
				<p class="text-primary text-center" style="color:#004460;" ><b>Employee Advance Expenses Request</b>
				<br>For Helping to allow to Create Advance Expenses.</p>
			</font>
		</h2> 
	<div class="oe_row">    
    	<div class="oe_span12" style="width:835px">
        	<div class="panel panel-primary" id="wkid0" style="border-color:#00cc99;">

        		<div class="panel-heading" style="background-color:#004460;">
        			<h3 class="panel-title" style="font-size: 25px;"  >
						<b  style="color:white;" > DevIntelle Consulting Service Pvt.Ltd.</b>
					</h3>
       			 </div>
            	<div class="panel-body">
            	<div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#1ab2ff;">
					<i class="fa fa-arrow-circle-o-right" style="color:white;"></i> 
						<b style="color:white;"> Features </b>
				</div>
           		<ul class="list-unstyled ">
                       <li> <i class="fa fa-hand-o-right text-primary"></i>Employee Expense Multiple Request.</li>   
                       <li> <i class="fa fa-hand-o-right text-primary"></i>Expense Request Approve by HR Manager.</li>   
                       <li> <i class="fa fa-hand-o-right text-primary"></i>Integrated with Expense and Accounting Entry.</li>   
                       <li> <i class="fa fa-hand-o-right text-primary"></i>Draft-> Waiting for HR Manager Confirm -> Confirm by HR Manager->Submit.</li>   
            </ul>
          </div>
        </div>
    </div>
</div>
</section>

<!--					setup block -->
<section class="oe_container oe_dark lead">
	<div class="oe_row">    
    	<div class="oe_span12" style="width:835px">
    		<div class="panel panel-success" id="wkid2" style="border-color:#004460;">
   				 <div class="panel-heading" style="background-color:#004460;">
   					 <h3 class="panel-title" style="font-size: 25px;">
						<i class="fa fa-cogs" style="color:white;"></i> 
						<b style="color:white;">Setup &amp; Configure</b> 
					</h3>
    			</div>  
       			<div class="panel-body">
       			
       			<div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
			        <i class="fa fa-arrow-circle-o-right" style="color:white;"></i> <b style="color:white;">Advance Expenses Request</b>
		        </div>  
       			<p>
					<img class="oe_picture oe_screenshot" src="form.png" alt="DevIntelle Consulting Service Pvt.Ltd.">
				</p>
				<p class="text-primary">Fill All the fields Value in Advance Expenses request Form.<p>
				
				<div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
			        <i class="fa fa-arrow-circle-o-right" style="color:white;"></i> <b style="color:white;">Send Advance Expenses Request to HR Manager</b>
		        </div>  
       			<p>
					<img class="oe_picture oe_screenshot" src="request_mail.png" alt="DevIntelle Consulting Service Pvt.Ltd.">
				</p>
				<p class="text-primary">Employee click to Send Request button Mail send to the HR manager confirm the Advance Expenses Request.<p>
				
				<div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
			        <i class="fa fa-arrow-circle-o-right" style="color:white;"></i> <b style="color:white;">Confirm or Reject Advance Expenses Request</b>
		        </div>  
       			<p>
					<img class="oe_picture oe_screenshot" src="confirm_hr.png" alt="DevIntelle Consulting Service Pvt.Ltd.">
				</p>
				<p class="text-primary">HR manager Confirm the Request by clicking Confirm Button or reject the request by clicking the Reject Button.<p>
				
				<div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
			        <i class="fa fa-arrow-circle-o-right" style="color:white;"></i> <b style="color:white;">Confirm Advance Expenses Request Mail to Employee</b>
		        </div>  
       			<p>
					<img class="oe_picture oe_screenshot" src="confirmation_mail.png" alt="DevIntelle Consulting Service Pvt.Ltd.">
				</p>
				<p class="text-primary">HR manager Confirm the Request by clicking Confirm Button mail send to the employee.<p>
				
				<div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
			        <i class="fa fa-arrow-circle-o-right" style="color:white;"></i> <b style="color:white;">Reject Advance Expenses Request Mail to Employee</b>
		        </div>  
       			<p>
					<img class="oe_picture oe_screenshot" src="reject_mail.png" alt="DevIntelle Consulting Service Pvt.Ltd.">
				</p>
				<p class="text-primary">HR manager Reject the Request by clicking Reject Button mail send to the employee.<p>
				
				<div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
			        <i class="fa fa-arrow-circle-o-right" style="color:white;"></i> <b style="color:white;">Submit Advance Expenses Request</b>
		        </div>  
       			<p>
					<img class="oe_picture oe_screenshot" src="submit_expenses.png" alt="DevIntelle Consulting Service Pvt.Ltd.">
				</p>
				<p class="text-primary">After the Hr Confirmation Employee Submit the Advance Expenses, so Related all the Expenses is created in the Expenses to Submit Menu.<p>
				
				
				<div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
			        <i class="fa fa-arrow-circle-o-right" style="color:white;"></i> <b style="color:white;">View Hr Expense Create From Advance Expenses Request</b>
		        </div>  
       			<p>
					<img class="oe_picture oe_screenshot" src="view_hr_expenses.png" alt="DevIntelle Consulting Service Pvt.Ltd.">
				</p>
				<p class="text-primary">Using this Button User view all the Expenses created by this Request.<p>
				
				
				
				<div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
			        <i class="fa fa-arrow-circle-o-right" style="color:white;"></i> <b style="color:white;">Created Expenses from the Advance Expenses Request</b>
		        </div>  
       			<p>
					<img class="oe_picture oe_screenshot" src="created_expenses.png" alt="DevIntelle Consulting Service Pvt.Ltd.">
				</p>
				<p class="text-primary">Expenses Create by clicking the Submit to Expenses Button.<p>
				
	</div>
	</div> 
   </div>
</div>
</div>
</section>

<!--							Footer block-->

<section class="oe_container ">
        <div class="oe_row oe_spaced">
           
            <table style="font-family: 'Helvetica Neue', Helvetica, Arial,
sans-serif;" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
			<tr>
				<td>
					<center>
					<span class="fa fa-certificate fa-1x" style="color:#1f2327;"></span>&nbsp;Demo&nbsp;  
					<span class="fa fa-certificate fa-1x" style="color:#1f2327;padding-bottom:15px;"></span>
					</center> 
			</tr>
			<tr>
				<td style="padding-bottom:12px;">
					<center>
						<a href="https://www.youtube.com/channel/UCrmu-T0c8rhMXGuB44bH7gA" class="btn btn-yt" style="color:#fff;background-color:#E62117;border-color:rgba(0,0,0,0.2)"><i class="fa fa-youtube left"></i> YouTube</a>	 
					</center>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="border-top:#004460 solid 1px; line-height:10px;">&nbsp; </td>
			</tr>
			<tr>
				<td>
					<center>
					<span class="fa fa-certificate fa-1x" style="color:#1f2327;"></span>Our Odoo Services 
					<span class="fa fa-certificate fa-1x" style="color:#1f2327;"></span>
					</center> 
			</tr>
                
		<tr>
			<td colspan="2" style="border-bottom:#004460 solid 1px; line-height:10px;">&nbsp; 
			 </td>
		</tr>
			<td colspan="2">
				<table style="font-size:13px; color:#697582; line-height:25px;" cellpadding="0" cellspacing="0" border="0" width="100%">
					<tbody>
						<tr>
							<td width="30%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="https://www.devintellecs.com/odoo-implementation/" style="color:#697582; text-decoration:none;">Odoo Implementation</a></span></td>
							<td width="30%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="https://www.devintellecs.com/odoo-customization/" style="color:#697582; text-decoration:none;">Odoo Customization</a></span></td>
							<td width="30%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="https://www.devintellecs.com/odoo-migration/" style="color:#697582; text-decoration:none;">Odoo Migration</a></span></td>
							
						</tr>
						<tr>
							<td width="30%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="https://www.devintellecs.com/odoo-training/" style="color:#697582; text-decoration:none;">Odoo Training</a></span></td>
							<td width="30%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="https://www.devintellecs.com/odoo-hosting/" style="color:#697582; text-decoration:none;">Odoo Hosting</a></span></td>
							<td width="30%"><span class="fa fa-globe fa-1x" style="color:#697582;"> <a href="https://www.devintellecs.com/odoo-support/" style="color:#697582; text-decoration:none;">Odoo Support</a></span></td>
							
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="border-bottom:#004460 solid 1px; line-height:10px;">&nbsp;
			 </td>
		</tr>
		<tr>
			<td colspan="2" style="font-size:16px; color:#d74930; font-weight:bold;" width="100%" align="center">
			    <center><span class="fa fa-certificate fa-1x" style="color:#1f2327;">our Odoo Products Apps 

			</span><span class="fa fa-certificate fa-1x" style="color:#1f2327;"/></center>
			</td>
		</tr>
 
		<tr>
			<td colspan="2" style="border-bottom:#004460 solid 1px; line-height:10px;">&nbsp;
			 </td>
		</tr>
		<tr>
			<td colspan="2">
				<table style="font-size:11px; color:#697582; line-height:25px;" cellpadding="0" cellspacing="0" border="0" width="100%">
					<tbody>
						<tr>
							<td width="25%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="https://www.odoo.com/apps/modules/10.0/dev_export_excel/" style="color:#697582; text-decoration:none;">Dynamic Export Excel </a></span></td>
							<td width="25%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="https://www.odoo.com/apps/modules/10.0/dev_inventory_ageing_report/" style="color:#697582; text-decoration:none;">Stock Aging Report</a></span></td>
							<td width="25%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="https://www.odoo.com/apps/modules/10.0/dev_split_purchase/" style="color:#697582; text-decoration:none;">Split Purchase Order</a></span></td>
							<td width="25%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="https://www.odoo.com/apps/modules/10.0/dev_bank_reconciliation/" style="color:#697582; text-decoration:none;">Bank Reconciliation & Bank Statement</a></span></td>
							
							
						</tr>
						
						<tr>
							<td width="25%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="https://www.odoo.com/apps/modules/10.0/dev_hr_loan/" style="color:#697582; text-decoration:none;">Employee Loan Management</a></span></td>
							
							<td width="25%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="https://www.odoo.com/apps/modules/8.0/purchase_invoice_discount/" style="color:#697582; text-decoration:none;">Discount on purchase and Invoice</a></span></td>
							
							<td width="25%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="https://www.odoo.com/apps/modules/9.0/dev_import_mass_image_url/" style="color:#697582; text-decoration:none;">Import product Image From URL through CSV</a></span></td>
							
							<td width="25%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="https://www.odoo.com/apps/modules/10.0/dev_product_expiry_excel_report/" style="color:#697582; text-decoration:none;">Product Expiry Excel Report & Reminder</a></span></td>
							
							
						</tr>
						
						<tr>
							<td width="25%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="https://www.odoo.com/apps/modules/10.0/dev_sale_excel_dashboard/" style="color:#697582; text-decoration:none;">Top Sales Dashboard on Excel-Sheet</a></span></td>
							
							<td width="25%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="https://www.odoo.com/apps/modules/10.0/dev_set_product_pricelist/" style="color:#697582; text-decoration:none;">Multiple Pricelist on Sale Order Line</a></span></td>
							
							<td width="25%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="https://www.odoo.com/apps/modules/9.0/dev_customer_credit_limit/" style="color:#697582; text-decoration:none;">Customer Credit Limit</a></span></td>
							
							<td width="25%"><span class="fa fa-coffee fa-1x" style="color:#697582;"> <a href="https://www.odoo.com/apps/modules/10.0/dev_export_sale_order/" style="color:#697582; text-decoration:none;">Export Sale Order in Excel</a></span></td>
							
							
						</tr>
						
					</tbody>
				</table>
			</td>
		</tr>

		<tr>
			<td colspan="2" style="border-bottom:#004460 solid 1px; line-height:10px;">&nbsp;
			 </td>
		</tr>



<!--Footer set-->


		<tr>
			<td colspan="2" style="font-size:16px; color:#d74930; font-weight:bold;" width="100%" align="center">
			    <center><span class="fa fa-certificate fa-1x" style="color:#1f2327;">For any questions, support and development contact us.

			</span><span class="fa fa-certificate fa-1x" style="color:#1f2327;"/></center>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="border-bottom:#004460 solid 1px; line-height:10px;">&nbsp;
			 </td>
		</tr>

		<tr>
		</tr>
		
	</tbody>
	
            </table>     
           
        </div>
</section>
<section  style="margin-top:-20px;">
    <div class="oe_dark oe_quote" style="height:350px">
        <div class="col-md-12">
            <div class="col-md-6">
                <h3 class="oe_slogan"><b>Odoo Support Services</b></h3>
                <p>For any other assistance related to the new Odoo feature, customization or Odoo Development.Our Odoo experts will help you to build your business </p>
                <img class="oe_photo" src="logo.png" alt="DevIntelle Consulting Service Pvt.Ltd(Export Excel)"/>
            </div>
            <div class="col-md-6 text-left">
                        <div class="oe_author"><b>Get In Touch</b></div>
                        <br/>
                        <div class="oe_job"><i class="fa fa-envelope"></i> <span><a href="mailto:devintelle@gmail.com;" target="_blank">devintelle@gmail.com</a></span></div>
                        <div class="oe_job"><i class="fa fa-mobile fa-2x"></i> <span><a href="tel:+918780543446" target="_blank">+91 87805 43446</a></span></div>
                        <div class="oe_job"><i class="fa fa-skype"></i> <span><a href="skype:devintelle" target="_blank">devintelle</a></span></div>
                        <div class="oe_job"><i class="fa fa-facebook-square"></i> <span><a href="https://www.facebook.com/Odoodevintellecs/" target="_blank">DevIntelle</a></span></div>
                        <div class="oe_job"><i class="fa fa-google-plus-square"></i> <span><a href="https://plus.google.com/u/0/106859683363969286567" target="_blank">+DevIntelle</a></span></div>
                        <div class="oe_job"><i class="fa fa-twitter-square"></i> <span><a href="https://twitter.com/Odoodevintellecs" target="_blank">@Odoodevintellecs</a></span></div>
                        <div class="oe_job"><i class="fa fa-youtube-square fa-1x"></i> <span><a href="https://www.youtube.com/channel/UCrmu-T0c8rhMXGuB44bH7gA" target="_blank">DevIntellecs</a></span></div> 
                        <div class="oe_job"><i class="fa fa-globe"></i> <span><a href="https://www.devintellecs.com/" target="_blank">www.devintellecs.com</a></span></div> 
                        
                        
                        
                        
                </div>        
                        
        </div>
    </div>
</section>
