<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">CRM Notifications</h2>
        <h3 class="oe_slogan">Be in real time notified when some CRM activities are made.</h3>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="oe_mt32 text-justify">
                After popup notification, you can see all your notifications in chat window or as a tree list in "Crm notifications->Notifications". After first notification system will create chat channel with name: "Notifications for {user name}". In header of every message, there is "open link" link which will redirect you on screen with changed lead object. In tree view you can open all notifications with more details. Admin user will see all notifications, other users will see only notifications that were sent to them..
            </p>

            <img class="oe_picture oe_screenshot" src="main_1.png"/>
            <img class="oe_picture oe_screenshot" src="main_2.png"/>
            <img class="oe_picture oe_screenshot" src="main_3.png"/>
        </div>
    </div>
</section>

<section class="oe_container oe_separator"></section>