<section class="oe_container">
    <div class="oe_spaced">
        <h2 class="oe_slogan">LIPS©</h2>
        <h3 class="oe_slogan">LedVantage Image Importer</h3>

        <h4 class="oe_slogan"><a href="http://ledvantage.id/">Ledvantage</a> </h4>
        <div style="padding-left:66px;">
        <h4>Features:</h4>
        <ul>
            <li style="list-style:none !important;"><span style="color:green;"> &#8594;</span>&nbsp;&nbsp; Inventory System.</li>
            <li style="list-style:none !important;"><span style="color:green;"> &#8594;</span>&nbsp;&nbsp; Purchase Order Management</li>
        </ul>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_spaced">
        <div class="oe_picture">
            <h3 class="oe_slogan">Overview</h3>
            <p class="oe_mt32">
                LedVantage Image Importer
            </p>
        </div>
    </div>
</section>
<section class="oe_container">
    <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help?</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
        <div>
            <a  class="btn btn-primary btn-lg mt8"
            style="color: #FFFFFF !important;border-radius: 0;" href="http://ledvantage.id/"><i
            class="fa fa-envelope"></i> Email </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
            href="http://ledvantage.id/contact/"><i
            class="fa fa-phone"></i> Contact Us </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
            href="http://ledvantage.id/"><i
            class="fa fa-check-square"></i> Request Customization </a>
        </div>
        <br>
        <img src="logo.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
    </div>
</section>
